.App {
  width: 800px; height: 600px;
  border: 1px solid black;
}
/**/
.Menu {
  width: 20%; height: 100%;
  float: left;
  border: 1px solid green;
}
.searchInput {
  width: 100px;
  margin-left: 5px;
}
.Lists {
  width: 95%; height: 80%;
  border: 1px solid green;
  overflow: hidden;
}
.AddListInput {
  width: 75px;
}
/**/
.ListView {
  width: 79%; height: 100%;
  float: right;
  /* border: 1px solid green; */
}
.ListName {
  font-size: 25px;
}
.AddTodo {
  float: right;
  margin-top: 5px; margin-right: 5px;
}
.Todos {
  /* border: 1px solid green; */
}
.Todo {
  width: 60%;
}
.TodoLavel:hover {
  color: green;
}
.Delete {
  float: right;
}